<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/view.css">
    <title>Document</title>
</head>
<body>
    <div class="detalles"><h1>detalles</h1></div>
    <div class="button"><a href="/index.html"><button><img src="/storage/img/menu.png" ></button></a></div>
    <div class="storage">
        <img src="/storage/img/recomendado2.png">
        <button></button>
    </div>
</body>
</html>